.label-placeholder {
    position: absolute;
    top: 20%;
    left: 1rem;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    color: #999999;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

input:focus + .label-placeholder, input:valid + .label-placeholder{
    font-size: small;
    top: -.7rem;
    left: 10px;
    padding: 0 .2rem 0 .2rem;
}